
  

            <!--Main layout-->
            <main class="mt-5 pt-4">
              <div class="container wow fadeIn" id="cartapp">
                <!-- Heading -->
                <h2 class="my-5 h2 text-center">Checkout form</h2>

                <!--Grid row-->
               
                <!--Grid row-->
              </div>
            </main>
            <!--Main layout-->
    

  {% endblock %}

  {% block scripts %}
            <script>
              var cartapp = new Vue({
                el: '#cartapp',
                delimiters: ['[[', ']]'],
                store: store,

                data ()  {

                  return {

                    first_name: '',
                    last_name: '',
                    email: '',
                    address: '',
                    zipcode: '',
                    place: '',
                    products: [{{ productsstring|safe }}]
                    
                  }
                },

                computed: {
                  numItems: function() {
                    return store.state.numItems
                  },

                  totalCost: function(){
                    return store.state.totalCost
                  }
                },

                methods: {

                  submitForm (){

                    var data = {  
                      'first_name': this.first_name,
                      'last_name': this.last_name,
                      'email': this.email,
                      'address': this.address,
                      'zipcode': this.zipcode,
                      'place': this.place,


                    };
                    fetch('/api/checkout/', {

                      method: 'POST',
                      headers: {
                         'Content-Type': 'application/json',
                         'X-CSRFToken': '{{ csrf_token }}'
                      },
                      credentials: 'same-origin',
                      body: JSON.stringify(data)
                    })

                    .then((response) => {

                      console.log('success');
                      window.location.href = '/'

                    })

                    .catch( function (error){
                      console.log(error);

                    })


                  },


                },
              
                


              });



            </script>


  {% endblock %}