{% extends 'core/base1.html' %}
{% block content %}

        <div class="md:m-10 md:mb-32 m-10" id="mycartapp">
          {% if cart %}
            <div class="md:mr-40 md:ml-20">
              <div class="block w-full text-center text-4xl font-bold leading-loose mt-8">
                  <h2>My cart</h2>
              </div>

              <div class="hidden lg:flex items-start mt-10">
                  <div class="w-2/5"></div>
                  <div class="w-1/5"><p class="uppercase font-bold tracking-widest">Price</p></div>
                  <div class="w-1/5"><p class="uppercase font-bold tracking-widest">Qty</p></div>
                  <div class="w-1/5"><p class="uppercase font-bold tracking-widest">Total</p></div>
                  <div class="w-1/5"><p class="uppercase font-bold tracking-widest"></p></div>
              </div>
            
              <div class="border-t border-gray-400 mt-4 mb-4">

                  <div v-for="product in products" class="flex items-center border-b border-gray-400 flex-col lg:flex-row">
                      <div class="lg:w-2/5 flex gap-12 items-center p-4">
                          <div>
                              <img :src="[[product.image]]" class="h-24 w-24">
                          </div>
                          <div>
                              <a href="#" >[[product.title]]</a>
                          </div>
                      </div>

                      <div class="lg:w-1/5 flex"><span class="block lg:hidden mr-16">Price:</span><p class="font-bold tracking-widest">RS. [[product.price]]</p></div>
                      <div class="lg:w-1/5 flex"><span class="block lg:hidden mr-32">QTY:</span><p class="uppercase font-bold tracking-widest">[[product.quantity]]</p></div>
                      <div class="lg:w-1/5 flex"><span class="block lg:hidden mr-16">TOTAL:</span><p class="uppercase font-bold tracking-widest">[[product.total_price]]</p></div>
                      <div class="lg:w-1/5 mt-4 mb-4 focus:outline-none"><p class="uppercase font-bold tracking-widest"><button @click="removeFromCart(product.id)"  class="focus:outline-none underline">Remove</button></p></div>
                  </div>
              </div>

              <div class="lg:flex lg:flex-row items-center w-full px-12 ">
                <div class="lg:w-4/6 w-full">
                </div>
                <div class="mt-8 lg:w-2/6 w-full">
                    <h2 class="mb-4 flex justify-between font-bold"><span>Subtotal</span><span>RS [[totalCost]]</span></h2>
                    <a href="{% url 'checkout' %}"><button class="text-left font-semibold w-full rounded-sm border-2 border-gray-800 py-2 px-6 shadow-2xl tracking-wider text-lg bg-gray-800 text-gray-50 hover:bg-gray-50 hover:text-gray-900 transition ease-out duration-500 focus:outline-none">CHECKOUT</button></a>
                </div>
            </div>

          {% else %}
            <h2 class="text-xl font-bold text-center">Oops, your cart is empty.</h2>
          {% endif %}

        </div>
  </div>

{% endblock %}

{% block scripts %}

<script>
  var cartapp = new Vue({
    el: '#mycartapp',
    delimiters: ['[[',']]'],

    store:store,

    data() {

      return {
        first_name: '',
        last_name: '',
        email: '',
        address: '',
        place: '',
        zipcode: '',
        products: [{{productsstring|safe}}],
        coupon_value: 0,
        coupon_code: ''
      }
    },

    computed: {
        numItems: function() {
           return store.state.numItems
                  },

        totalCost: function(){
            return store.state.totalCost
                  },

        totalCostWithCoupon: function(){
          if (this.coupon_value > 0){
            return store.state.totalCost * (parseInt(this.coupon_value) / 100);
        }
          else{
            return store.state.totalCost;
          }
                }
    },
    methods: {

        applyCoupon(){
          if (this.coupon_code != ''){
            fetch('/api/can_use?coupon_code=' + this.coupon_code, {
              method: 'GET'
            })

            .then((response) => {
              return response.json();

            })

            .then((data) => {
              if(data.amount){
                this.coupon_value = parseInt(data.amount);
              }
              else{
                this.coupon_value = 0
              }
            });
          }
        },

        incrementQuantity(product_id, quantity, price){
          console.log('product_id',product_id);

          var data = {
            'product_id': product_id,
            'update': true,
            'quantity': parseInt(quantity) + 1
          };

          store.commit('increment',1)
          store.commit('changeTotalCost',parseFloat(price));

          fetch('/api/add_to_cart/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },

            credentials: 'same-origin',
            body: JSON.stringify(data)

          })

          .then((response) => {
            console.log(response);

            for(var i =0; i<this.products.length;i++){
              var product = this.products[i];

              if(product.id == product_id)
              {
                this.products[i].quantity =  parseInt(this.products[i].quantity) +1 ;
                this.products[i].total_price = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price)

              }
            }
          })

          .catch(function (error){
            console.log('Error 2');
            console.log(error);
          })

        },

        removeFromCart(product_id) {
          console.log('Product_id', product_id);
          
          var data = {
            'product_id':product_id
          };

          fetch('/api/remove_from_cart/',{
            method: 'POST',

            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },

            credentials: 'same-origin',
            body: JSON.stringify(data)

          })

          .then((response) =>{
            console.log(response);
            this.products = this.products.filter(product => product.id !== product_id)
          })

          .catch(function (error) {
            console.log('Error');
            console.log(error);
          })

        },

        decrementQuantity(product_id, quantity, price){
          console.log('product_id', product_id);

          var data = {
            'product_id': product_id,
            'update': true,
            'quantity': parseInt(quantity) - 1
          };

          if(parseInt(quantity) - 1  === 0 ){
              this.removeFromCart(product_id);
          }

          else{

            store.commit('increment', -1);
            store.commit('changeTotalCost', -parseFloat(price));

            fetch('/api/add_to_cart/', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken':'{{ csrf_token }}'
              },

              credentials: 'same-origin',
              body : JSON.stringify(data)
            
            })
            
            .then((response) => {
              console.log(response)

              for(var i = 0 ; i<this.products.length;i++){
               
                var product = this.products[i];

                if(product.id == product_id)
                {
                  this.products[i].quantity = parseInt(this.products[i].quantity) -1;
                  this.products[i].total_price = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price);

                }

            }})

            .catch(function(error){

              console.log('Error while decrementing')
              console.log(error)

           })
          }
        },

        submitForm(){

          var data = {
            'first_name': this.first_name,
            'last_name': this.last_name,
            'email': this.email,
            'address': this.address,
            'zipcode': this.zipcode,
            'place': this.place
          };

          fetch('/api/checkout/',{

            method: 'POST',
            headers: {

              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            credentials: 'same-origin',
            body: JSON.stringify(data)
          })

          .then((response) =>{
              console.log('Success')
              console.log(response)

              window.location.href= '/order_confirmation/';
          })

          .catch(function (error){
              console.log('Eeroor 2')
              console.log(error)
          })

        },
    },
  })

</script>


{% endblock %}