{% extends 'core/base1.html' %}
{% load static %}
{% block content %}

    <div class="rounded-3xl object-cover m-1 md:m-6 shadow-2xl overflow-hidden">

        <!-- hero image-->
        <div class="w-full h-96 overflow-hidden relative">
            <img src="{% static 'img/hero.jpg' %}" class="absolute inset-0 h-full w-full object-cover">
            <div class="absolute inset-0 bg-gray-900 bg-opacity-75"></div>
            <div class="flex h-full items-center justify-center relative">
                <h1 class="text-3xl text-gray-100 tracking-wider">Discover next level of shopping</h1>
            </div>
        </div>

        <!-- featured products -->

        <div class="text-center py-8">
            <h1 class="text-4xl tracking-wider">Featured Products</h1>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-x-8 gap-y-8 py-8">
                {% for product in products %}
                    <div class="flex flex-col items-center m-2 hover:shadow-2xl rounded-md">
                        <a href="{{ product.get_absolute_url }}"> <img src="{{ product.image.url }}" class="h-52 w-72 md:h-96 md:w-80"></a>
                        <h2 class="font-semibold py-2">SHIRT</h2>
                        <h2>BLUE SHIRT DRESS</h2>
                        <h2 class="mt-4 text-sm">RS.500</h2>
                        <h2 class="text-sm italic">SOLD OUT</h2>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- fixed image -->
        <div class="bg-fixed w-full h-screen overflow-hidden relative" style="background: url({% static 'img/pubg.jpg' %}) no-repeat fixed; background-size: cover;">
            <div class="absolute inset-0 bg-gray-900 bg-opacity-75"></div>
            <div class="flex items-center justify-center absolute">
                <h3 class="text-3xl text-gray-100 tracking-wider">Our Pubg Collection</h3>
            </div>
        </div>
        <div class="grid grid-cols-6">
            <div><img src="img/realme.jpg"></div>
            <div><img src="img/shirt.jpg"></div>
            <div><img src="img/J1-1.jpg"></div>
            <div><img src="img/realme.jpg"></div>
            <div><img src="img/realme.jpg"></div>
            <div><img src="img/realme.jpg"></div>
        </div>
    
    </div>
{% endblock %}