{% extends 'core/base1.html' %}
{% block content %}
    <div class="bg-gray-100 text-gray-900 text-center mt-20 mx-8 md:mx-32 pt-10 pb-20 rounded-xl shadow-sm">
        <span>We found {{products.count}} results for:</span>
        <h2 class="text-4xl font-semibold mt-8 capitalize">"{{q}}"</h2>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-12 py-8 ml-2 md:ml-6">
        {% for product in products %}
            <div class="flex flex-col m-4 md:mt-8 md:mx-20 hover:shadow-2xl md:w-96 shadow-lg overflow-hidden">
                <a href="{{ product.get_absolute_url }}"> <img src="{{ product.image.url }}" class="h-52 w-72 md:h-96 md:w-96"></a>
                <div class="border-b border-gray-300 mx-8 pt-3 pb-2"><h2 class="font-bold py-2 text-xl capitalize ">{{product.title}}</h2></div>
                <h2 class="pt-2 text-sm mx-8 tracking-wider">{{product.price}}</h2>
                <h2 class="text-md italic px-8">{{product.tag}}</h2>
            </div>
        {% endfor %}
    </div>

{% endblock %}